<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title th:text="${course.code}">Title</title>
        <meta charset="utf-8"/>
    </head>
    
    <body>
        
        <h2>
            <span th:text="${course.code}">Course Code</span>
            <span th:text="${course.name}">Course Name</span><br/>
        </h2>
        
        <ul>
            <li th:each="topic: ${topics}">
                <a th:href="@{~/courses/{cid}/topics/{tid}(cid=${course.id},tid=${topic.id})}" th:text="${topic.name}">Null</a>
            </li>
        </ul>
        
        <h3>Add Topic</h3>
        <form method="POST" th:action="@{~/courses/{id}/topics(id=${course.id})}">
            <span>Topic</span><br/>
            <input type="text" name="name"/><br/>
            <input id="submit" type="submit" value="Add Topic!"/>
        </form>
        
        <a th:href="@{~/index}">BACK</a>
        
        
        
    </body>
</html>